<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm"  (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control"  formControlName="userName">
              <span *ngIf="!registrationForm.get('userName')?.valid && registrationForm.get('userName')?.touched" class="error-block">
                Please provide a name
              </span>
              
          </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!registrationForm.get('email')?.valid && registrationForm.get('email')?.touched" class="error-block">
              Please provide a email
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="text" class="form-control" formControlName="password">
            <span *ngIf="!registrationForm.get('password')?.valid && registrationForm.get('password')?.touched" class="error-block">
              Please provide Password
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="text" class="form-control" formControlName="confirmPassword">
            <span *ngIf="!registrationForm.get('confirmPassword')?.valid && registrationForm.get('confirmPassword')?.touched" class="error-block">
              Please provide confirmPassword
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile">
            <span *ngIf="!registrationForm.get('mobile')?.valid && registrationForm.get('mobile')?.touched" class="error-block">
              Please provide mobile
            </span>
          </div>
  
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>

