.member{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    }
    .card{
    justify-content: center;
    align-items:center;
    }
    .card:hover img{
        transform: scale(1.2,1.2);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
        height: 200px;
    }
    .card img{
        transform: scale(1,1);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
        height: 200px;
    }
    .img_wrapper{
    overflow: hidden;
    position: relative;
    }
    .img_wrapper:hover .member{
    bottom: 0;
    }